<ion-view view-title="Calculate">
  <ion-content id="calculate-section" class="padding">
    <h2 class="center">Calculate Mcr</h2>
    <form>
      <ion-list>
        <label class="item item-input">
          <span class="input-label">I<sub>z</sub></span>
          <input type="text" name="Iz" ng-model="data.Iz">
          <span class="input-label units">mm <sup>4</sup></span>
        </label>
        <label class="item item-input">
          <span class="input-label">I<sub>w</sub></span>
          <input type="text" name="Iw" ng-model="data.Iw">
          <span class="input-label units">mm <sup>6</sup></span>
        </label>
        <label class="item item-input">
          <span class="input-label">I<sub>t</sub></span>
          <input type="text" name="It" ng-model="data.It">
          <span class="input-label units">mm <sup>3</sup></span>
        </label>
        <label class="item item-input">
          <span class="input-label">L<sub>cr</sub></span>
          <input type="text" name="Lcr" ng-model="data.Lcr">
          <span class="input-label units">mm</span>
        </label>
        <button class="button button-block button-royal item-right" name="submit" ng-click="calculate()">Calculate</button>
      </ion-list>
    </form>
    <h3 class="center">{{result}}</h3>
  </ion-content>
</ion-view>
